/node_modules
/public/hot
/public/storage
/public/assets/css
/public/assets/js
/storage/*.key
/vendor
.env
.env.backup
.gitignore
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/mix-manifest.json
